doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="description", content="Lackluster AIM Chat App")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title My Chai Energy Usage Report
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
	block content
